@font-face{
    font-family: 'Ayuma2yk';
    src: url("fonts/Ayuma2yk.ttf");

}

@keyframes fx-rotate{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}

@keyframes fade-in{
    from{opacity : 0}
    to{opacity: 1}
}

@keyframes dance-1{
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(10deg);
    }

    75%{
        transform: rotate(-10deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

*{
    color: white;
    font-family: "Ayuma2yk";
    outline: none;
}

body{
    background-color: white;
    margin: 0px;

    transition: background-color 2s;
}

body.black{
    background-color: black;
    
}

.center{
    text-align: center;
}

#cheatBox{
    align-items: center;
    bottom: 0px;
    left: 0px;
    display: flex;
    position: fixed;
    height: 38px;
    width: 97vw;
    z-index: 999;

    transform: translateY(38px);
}

#cheatBox.show{
    transform: translateY(0px);
}

#cheatBox input{
    background-color: black;
    font-family: 'Consolas';
    font-size: 20px;
    padding-left: 32px;
    text-align: left;
}

#cheatBox span{
    flex-basis: 44px;
    flex-grow: 0;
    font-size: 24px;
}

#cheatBox > *{
    flex: 1;
}

.clear-text{
    color: rgb(45, 45, 45);
}

.container{
    display: block;
    margin: auto;
    max-width: 800px;
    width: 100%;
}

#anniversary-box{
    color: black;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100vw;
    z-index: -1;
}

#anniversary-box img{
    max-width: 400px;
    width: 100%;
    animation: fx-rotate linear 12s infinite;
}

#anniversary-box *{
    color: black;
}

.image-drop-container{
    display: flex;
}

.image-drop-container > *{
    flex: 1;
    flex-grow: 0;
}

.flex-container{
    align-content: center;
    display: flex;
    min-height: 100vh;
}

.flex-container > *:first-child{
    flex: 1;
}

#greenday-box img{
    display: block;
    width: 100%;
    margin-bottom: 32px;
    max-width: 800px;
    opacity: 1;

    animation: fade-in 4s linear;
}

#greenday-box img:nth-child(even){
    margin-left: auto;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}
h2{ font-size: 60px;}

#ibirapuera-2017-box{
    animation: dance-1 5s infinite;
}

img.center{
    display: block;
    margin: auto;
    width: 100%;
}

#login-box{
    height: 500px;

    transition: opacity 1s;
}

#login-box input{
    max-width: 160px;
}

button{
    color : black;
    padding: 8px 32px;
}

button:hover, input[type=text]:hover{
    box-shadow: 0px 3px 8px white;
}

button:focus, input[type=text]:focus{
    box-shadow: 0px 4px 6px #ea2ad4;
}

button, input[type=text]{
    border: 2px solid white;
    border-radius: 32px;
    font-size: 40px;
    text-align: center;

    transition: box-shadow .2s;
}

input[type=text]{
    background-color: transparent;
    color: white;
}

.ma-lg{
    margin-top: 64px;
}

*.opaque{
    background-color: black;
}

.overlay{
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
}

.overlay.show{
    display: block;
}

.view{
    display: none;
    opacity: 0;

    transition: opacity 2s;
}

.view.view-show{
    display: block;
    opacity: 1;
}

@media screen and (max-width: 600px){
    #login-box input[type=text]{
        display: block;
        width: 100%;

        margin: auto;
    }
}